body {
    font-family: "arial black", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #ffeb3b; /* Fundal diferit pentru telefoane mici */
    }
    .resize-button {
        font-size: 10px; /* Micșorează fontul pe telefoane mici */
        padding: 10px 20px; /* Micșorează padding-ul pe telefoane mici */
    }
}
  .main {
    flex: 1;
  }
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0,5rem;
  }
  
  footer {
    color: midnightblue;
    clear: all;
    position: relative;
    font-size: 5rem;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 25px;
    border: 4px solid midnightblue;
    
  }

  footer p {
    font-size: 2rem;
  }
  
  .tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
  }
  
  .card {
    width: 45%;
    margin: 0 auto; /* Centers the card horizontally */
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .creative {
    color: midnightblue;
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 50px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
  
    .card {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
    }
  
    .card img {
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }

  }

  .button-link {
    display: inline-block; /* Permite să adaugi padding și alte stiluri */
    padding: 10px 15px; /* Spațiu interior */
    background-color: antiquewhite; /* Culoare de fundal */
    color: midnightblue; /* Culoare text */
    text-align: center; /* Centrează textul */
    text-decoration: underline; /* Elimină sublinierea specifică linkurilor */
    border-radius: 25px; /* Colțuri rotunjite */
    font-size: 20px; /* Dimensiune font */
    transition: background-color 0.3s ease; 
    justify-content: center; /* Tranziție la schimbarea culorii */
    margin: 2px;
    border: 4px solid midnightblue;
      height: 20px;
      width: 740px;
      margin-left: 320px;
  }
  
  @media (max-width: 480px) {
      .button-link {
          width: 100%; /* Adjust width for smaller screens */
          margin-left: auto; /* Center align for smaller screens */
      }
  }

  .color-button {
    background-color: blue; /* Culoarea inițială */
    color: white; /* Culoarea textului */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease; 
  } /* Correctly closing .color-button block */
  .color-button:hover {
      background-color: red; /* Culoarea butonului la hover */
      color: yellow;
  }

  